In [55]:
#Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [56]:
df= pd.read_csv('charcters_stats.csv')
df.head(5)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          611 non-null    object
 1   Alignment     608 non-null    object
 2   Intelligence  611 non-null    int64
 3   Strength      611 non-null    int64
 4   Speed         611 non-null    int64
 5   Durability    611 non-null    int64
 6   Power         611 non-null    int64
 7   Combat        611 non-null    int64
 8   Total         611 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.1+ KB

In [58]:
#number of rows and columns
rows = len(df.axes[0])
cols = len(df.axes[1])

print(rows)
print(cols)

611
9

In [59]:
# return the number of rows and columns in the form as a tuple
df.shape

(611, 9)

In [60]:
# return the number of rows and columns using len(df)and len(df.columns)
print(len(df))
print(len(df.columns))

611
9

Find the values of alignment ,can use value_counts()

In [61]:
df['Alignment'].value_counts()

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

In [63]:
(df['Alignment']== 'good').value_counts()

True     432
False    179
Name: Alignment, dtype: int64

Find out only good alignment holders superheroes

In [69]:
Good_heroes=df.loc[(df['Alignment']== 'good')].value_counts()
Good_heroes.head()

Name         Alignment  Intelligence  Strength  Speed  Durability  Power  Combat  Total
3-D Man      good       50            31        43     32          25     52      233      1
Namora       good       50            85        42     42          41     64      324      1
Nova         good       38            60        100    100         100    25      423      1
Northstar    good       50            18        83     56          70     70      347      1
Nite Owl II  good       1             1         1      1           0      1       5        1
dtype: int64

In [68]:
#Only the five tops
good.head()

Name            432
Alignment       432
Intelligence    432
Strength        432
Speed           432
dtype: int64

Another way of finding the number of good, bad and neutral heroes

In [65]:
good = df.loc[(df['Alignment'] == 'good')].count()
good

Name            432
Alignment       432
Intelligence    432
Strength        432
Speed           432
Durability      432
Power           432
Combat          432
Total           432
dtype: int64

In [66]:
bad = df.loc[(df['Alignment'] == 'bad')].count()
bad

Name            165
Alignment       165
Intelligence    165
Strength        165
Speed           165
Durability      165
Power           165
Combat          165
Total           165
dtype: int64

In [67]:
neutral = df.loc[(df['Alignment'] == 'neutral')].count()
neutral

Name            11
Alignment       11
Intelligence    11
Strength        11
Speed           11
Durability      11
Power           11
Combat          11
Total           11
dtype: int64

8. Show top five records having top speed of heroes of good alignment
9. Show 5 records of super heroes who have maximum power of good alignment
10. Find out how many super heroes are there with power 100 of good alignment
11. Shape them what you got in point 10
12. Show all records from point 10
13. Retrieve total of first five records of max power of good alignment super heroes
14. Draw a bar plot of all super heroes who are having good alignment and max power of
top five only , take same object of point 13 , show name and total in plot with green 
bars
15. Extract villains having bad alignment
16. Show first five records of point 15
17. Show top five fastest super villains in terms of super speed
18. Top five super villains in terms of intelligence
19. Show who is most dangerous super villain after calculating their total (top 5 only)
20. Draw a histogram for speed of super heroes having fig size 10,5 , provide speed in 
histogram for only good alignment super heroes ,title should be "distribution of 
speed" , xlabel should be "speed"
21. Draw a histogram for combat of super villains having fig size 10,5 , provide combat in 
histogram for only bad alignment super heroes ,title should be "distribution of 
combat" , xlabel should be "combat"

In [71]:
df.groupby("speed").count().reset_index()[["Alignment"== 'good',"speed"]]

KeyError: 'speed'